<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/lumen/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9b6g9YkA3pNts/17Rv1oVN633iGTGjRNrBHSn2XFY0WJVdha5Ev3MOVPmJPZpFqD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        body {
            padding-top: 4rem;
        }
    </style>
    <title>SmallShop</title>
</head>
<body>
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('front_home') }}">SmallShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('front_home') }}">{% trans from 'ui' %}link-home{% endtrans %}</a>
                </li>
                {#<li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>#}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('front_cart_page') }}" class="nav-link"><i class="fas fa-shopping-cart"></i>
                        ({{ cart_counter() }})</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">{% trans from 'ui' %}link-create-account{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('front_customer_index') }}"
                       class="nav-link">{% trans from 'ui' %}link-sign-in{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">{% trans from 'ui' %}link-sign-out{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    {{ lang_switch(app.request.locale) }}
                </li>
            </ul>
            {#<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>#}
        </div>
    </div>

</nav>
{% block content %}{% endblock %}
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</body>
</html>
